:root{
    margin: 0;
    padding: 0;
    --background-color: #fff;
    --backgrund-color-dark: #1a173b;
    --font-dark: #333;
    --font-white: #fff;
    --font-titles:'Cormorant Garamond','Open Sans'; 
    --font-text: 'Open Sans', sans-serif;
    --secondary-color-text: #a8a8a8;
    --button-color:tomato;
}

body{
    font-family: var(--font-text);
    background-color: var(--background-color);
    color: var(--font-dark);
    margin: 0;
    padding: 0;
}

.card__title, .wedding__title, .welcome__title, .moonweed__title, .container__bg-blue{
    font-family: var(--font-titles);
}


img{
    width: 100px;
    height: 100px;
    color: black;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: fixed;
    background-color: var(--background-color);
    width: 100%;
    z-index: 100;
    top: 0%;
    min-height: 15%;
}

.header__logo{
    width: 10rem;
}

.header__button{
    display: flex;
    align-items: right;
    padding-left: 5rem;
    background-color: transparent;
    border: none;
    
}


.header__icon{
    width: 1.5rem;
    
}

.welcome{
    background-image: url(./assets/images/sky-wedding.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    place-items: center;
    max-width: 100%;
}

.welcome__cover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    z-index: 10;
}
.welcome__title{
    z-index: 50;
    position: relative;
    color: var(--font-white);
    font-size: 3rem;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-titles);
    top: 50%;
}

.container__bg-blue{
    background-color: rgb(79, 137, 160);
    font-family: var(--font-text);
    color: var(--font-white);
    padding:.5rem;
    text-align: center;
    z-index: 300; 
}

.container__text{
    font-family: var(--font-text);
    color: var(--font-white);;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    bottom: 0;
    margin: 3rem 0;
}

.cards{
    display: block;
    margin: 0 ;
    padding: .2rem .1rem;
    
}

.card{
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    /* border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: .5rem;
    margin: .8rem 0;
    text-align: center;
    transition: all 0.3s ease;
    width: 95vw;
}
.card__img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}
.card__legend, .services__icon-title{
    font-family: var(--font-text);
    font-size: .8rem;
    color: var(--secondary-color-text);
    margin: .5rem 0;
    padding: 0;
    text-align: center;
}
.card__title{
    font-family: var(--font-titles);
    font-size: 1.5rem;
    color: var(--font-dark);
    margin: .5rem 0;
    padding: 0;
    text-align: left;
}
.card__text{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--font-dark);
    margin: .5rem 0;
    padding: 0;
    text-align: justify;
}

.moonweed{
    background-image: url(./assets/images/full_moon.jpg);
    color: var(--font-white);
    padding: 1rem;
    display: grid;
    place-items: center;
    position: relative;
}

.moonweed__container, .moonweed__action{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}



.moonweed__title{
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
}

.moonweed__text{
    font-size: 1.2rem;
    text-align: justify;
    margin: 1rem 0;
}

.moonweed__action{

    background-image: url(./assets/images/full_moon.jpg);
    color: var(--font-white);
    padding: 1rem;
    display: grid;
    place-items: center;
    position: relative;
}

.moonweed__container,
.moonweed__action {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
    height: 100%;
   
}

.moonweed__button, .contact__button{
    background-color: var(--button-color);
    color: var(--font-white);
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.moonweed__button:hover, .contact__button:hover{
    background-color: #b11f1f;
}

/* section phrase */

.phrase{
    background-color: var(--background-color);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.phrase__title{
    font-size: 1.5rem;
    font-family: var(--font-titles);
    color: var(--font-dark);
    margin: 1rem 0;
    font-weight: bolder;
}

.prase__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-dark);
    margin: 1rem 0;
    text-align: justify;
}

.contact{
    background-color: var(--background-color);
    padding: 1rem;
    text-align: left;
    margin: 1rem 0;
}

.contact__title{
    font-size: 1.5rem;
    font-family: var(--font-titles);
    color: var(--font-dark);
    margin: 1rem 0;
    font-weight: bolder;
}
.contact__form{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
    margin: 1rem 0;
}

.contact__form article{
    display: grid;
    grid-template-columns: 1fr;
}

.contact__label{
    font-size: .5rem;
    font-family: var(--font-text);
    color: var(--font-dark);
    margin: .5rem 0;
    text-align: left;
}

.contact__input, .contact__select{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-dark);
    margin:  0;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid var(--secondary-color-text);
    outline: none;
}

.contact__input:focus{
    border: 1px solid var(--font-dark);
}
.contact__select:focus{
    border: 1px solid var(--font-dark);
}

.contact__form .contact__planner{
    display: flex;
    place-items: center;
}

.contact__checkbox{
    /* Add your styles for the checkbox here */
    display: flex;
    width: 20px;
    height: 20px;
    background-color: var(--button-color);
    border-radius: 3px;
    border: none;
    cursor: pointer;

}

.contact__checkbox:checked{
    background-color: var(--font-dark);
}

.contact__button{
    background-color: var(--button-color);
    color: var(--font-white);
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* section love stories */

.stories{
    background-image: url(./assets/images/champagne.webp);
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 1rem 0;
    text-align: center;
    margin: 1rem 0;
    width: 100%;
}



.stories__cover{
    background-color: rgba(0, 0, 0, 0.5);
    
    padding: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    text-align: center;
}

.stories__content{
    padding: 1rem;
}

.stories__title{
    font-size: 1.5rem;
    font-family: var(--font-titles);
    color: var(--font-white);
    margin: 1rem 0;
    font-weight: bolder;
}

.stories__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1rem 0;
    text-align: justify;
   
   
}

/* carousel de imagenes */
.carousel{
    width: 100vw;
}

.carousel__container{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    max-width: 100%;
    right: 0;
    padding: 1rem  ;
    /* 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    width: 100%;
    height: 300px; */
    
}

.carousel__image {
    flex: 1 0 auto;
    width: 90vw;
    height: 300px;
    margin: 0 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 0.3s ease;
}

.carousel__image:hover{
    transform: scale(1.1);
} 
/* section services */

.services{
    background-color: var(--background-color);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.services__icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.services__icon{
    display: grid;
    place-items: center;
    padding: 1rem;
    margin: 0;
    border-radius: 1px;
    border: solid .01rem var(--secondary-color-text);    
    transition: all 0.3s ease;
}


.services__icon-title{
    font-size: .8rem;
  
}

/* section contact phone */

.contact {
    display: grid;
    background-image: url(./assets/images/pedida_mano.jpeg);
    background-size: cover;
    padding: 0;
    max-width: 100%;

}

.contact__cover{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: 94%;
    text-align: center;
}

.contact__title{
    font-size: 1.8rem;
    font-family: var(--font-titles);
    color: var(--font-white);
    margin: 1rem 0;
    font-weight: bolder;
}

.contact__location{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.contact__location hr{
    border: 1px solid var(--font-white);
    width: 80%;
    margin: 1rem auto;
}
.contact__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1rem 0;
    text-align: justify;
}


.contact__country p, .contact__phone p{
    font-size: 1.1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1.2rem 0;
    text-align: center;

}

/* footer section */

footer {
    display: grid;
    place-items: center;
    background-color: var(--font-dark);
    padding: 1rem;
    text-align: center;
    margin:-1rem  0;
}

.footer__img{
    width: 10rem;
    height: 100px;
    color: var(--font-white);
    filter: invert(1);
}

.footer hr{
    border: 1px solid var(--font-white);
    width: 80%;
    margin: 1rem auto;
}

.fa-brands{
    font-size: 2rem;
    color: var(--font-white);
    margin: 0 1rem;
}

.footer__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1rem 0;
    text-align: center;
}