:root{
    margin: 0;
    padding: 0;
    --background-color: #fff;
    --backgrund-color-dark: #222225;
    --font-dark: #333;
    --font-white: #fff;
    --font-titles:'Cormorant Garamond','Open Sans'; 
    --font-text: 'Open Sans', sans-serif;
    --secondary-color-text: #a8a8a8;
    --button-color:tomato;
}

body{
    font-family: var(--font-text);
    background-color: var(--background-color);
    color: var(--font-dark);
    margin: 0;
    padding: 0;
   
}
    body::-webkit-scrollbar {
        width: 8px; 
    }

    body::-webkit-scrollbar-track {
        background-color: var(--background-color); 
        border-radius: 10px; 
    }

    body::-webkit-scrollbar-thumb {
        background-color: var(--font-dark); 
        border-radius: 10px; 
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: var(--backgrund-color-dark); /* Color del thumb del scrollbar al pasar el mouse */
    }
    /* END: scrollbar-style */

.card__title, .wedding__title, .welcome__title, .moonweed__title, .container__bg-blue{
    font-family: var(--font-titles);
}


img{
    width: 100px;
    height: 100px;
    color: black;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: fixed;
    background-color: var(--background-color);
    width: 100%;
    z-index: 100;
    top: 0%;
    min-height: 15%;
}

.header__logo{
    width: 10rem;
}

.header__button{
    display: flex;
    align-items: right;
    padding-left: 5rem;
    background-color: transparent;
    border: none;
    
}


.header__icon{
    width: 1.5rem;
    
}

.welcome{
    background-image: url(./assets/images/sky-wedding.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    background-attachment: fixed ;
    height: 100vh;
    display: flex;
    place-items: center;
    max-width: 100%;
}

.welcome__cover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    z-index: 10;
}
.welcome__title{
    z-index: 50;
    position: relative;
    color: var(--font-white);
    font-size: 3rem;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-titles);
    top: 50%;
}

.container__bg-blue{
    background-color: rgb(79, 137, 160);
    font-family: var(--font-text);
    color: var(--font-white);
    padding:.5rem;
    text-align: center;
    z-index: 300; 
}

.container__text{
    font-family: var(--font-text);
    color: var(--font-white);;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    bottom: 0;
    margin: 3rem 0;
}

.cards{
    display: block;
    margin: 0 ;
    padding: .2rem .1rem;
    
}

.card{
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    /* border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: .5rem;
    margin: .8rem 0;
    text-align: center;
    transition: all 0.3s ease;
    width: 95vw;
}
.card__img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}
.card__legend, .services__icon-title{
    font-family: var(--font-text);
    font-size: .8rem;
    color: var(--secondary-color-text);
    margin: .5rem 0;
    padding: 0;
    text-align: center;
}
.card__title{
    font-family: var(--font-titles);
    font-size: 1.5rem;
    color: var(--font-dark);
    margin: .5rem 0;
    padding: 0;
    text-align: left;
}
.card__text{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--font-dark);
    margin: .5rem 0;
    padding: 0;
    text-align: justify;
}

/* card responsive section  */
@media (min-width: 768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        margin-bottom: 5rem;
    }
    .card{
        width: 100%;    
        margin: 1rem;
        max-width: 20rem;
        height:20rem;
        transition: all 0.3s ease;
    }
    .card:hover{
        transform: scale(1.1);
    }
}

/*modal section */
.moonweed{
    background-image: url(./assets/images/full_moon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment: fixed ;
    color: var(--font-white);
    padding: 1rem;
    display: grid;
    place-items: center;
    position: relative;
}

.moonweed__container, .moonweed__action{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}



.moonweed__title{
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
}

.moonweed__text{
    font-size: 1.2rem;
    text-align: justify;
    margin: 1rem 0;
}

.moonweed__action{

    background-image: url(./assets/images/full_moon.jpg);
    color: var(--font-white);
    padding: 1rem;
    display: grid;
    place-items: center;
    position: relative;
}

.moonweed__container  {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    height: 100%;
   
}

.moonweed__button, .contact__button{
    background-color: var(--button-color);
    color: var(--font-white);
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.moonweed__button:hover, .contact__button:hover{
    background-color: #b11f1f;
}

/* section phrase */

.phrase{
    background-color: var(--background-color);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.phrase__title{
    font-size: 1.5rem;
    font-family: var(--font-titles);
    color: var(--font-dark);
    margin: 1rem 0;
    font-weight: bolder;
}

.prase__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-dark);
    margin: 1rem 0;
    text-align: justify;
}
/* phrase section  responsive */

@media (min-width: 768px){
    .phrase span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20rem;
    }

    .phrase__title{
        font-size: 2rem;
        font-family: var(--font-titles);
        color: var(--font-dark);
        margin: 1rem 0;
        font-weight: bolder;
    }
    .prase__text{
        font-size: 1.5rem;
        font-family: var(--font-text);
        color: var(--font-dark);
        margin: 1rem 10rem;
        text-align: justify;
        width: 30%;
    }
}

/*  section form contact */
.contact{
    background-color: var(--background-color);
    padding: 1rem;
    text-align: left;
    margin: 1rem 0;
}

.contact__title{
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--font-titles);
    color: var(--font-dark);
    margin: 1rem 0;
    font-weight: bolder;
}
.contact__form{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
    margin: 1rem 0;
}

.contact__form article{
    display: grid;
    grid-template-columns: 1fr;
}

.contact__label{
    font-size: .5rem;
    font-family: var(--font-text);
    color: var(--font-dark);
    margin: .5rem 0;
    text-align: left;
}

.contact__input, .contact__select{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-dark);
    margin:  0;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid var(--secondary-color-text);
    outline: none;
}

.contact__input:focus{
    border: 1px solid var(--font-dark);
}
.contact__select:focus{
    border: 1px solid var(--font-dark);
}

.contact__form .contact__planner{
    display: flex;
    place-items: center;
}

.contact__checkbox{
    /* Add your styles for the checkbox here */
    display: flex;
    width: 20px;
    height: 20px;
    background-color: var(--button-color);
    border-radius: 3px;
    border: none;
    cursor: pointer;

}

.contact__checkbox:checked{
    background-color: var(--font-dark);
}

.contact__button{
    background-color: var(--button-color);
    color: var(--font-white);
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* contact form responsive */
@media (min-width: 768px){
    .contact__form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem 0;
    }
    .contact__form article{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact__planner{
        margin-top: 1rem;
        display: flex;
        place-items: center;
    }
    .contact__label{
        font-size: .8rem;
        font-family: var(--font-text);
        color: var(--font-dark);
        margin: .5rem 0;
        text-align: left;
    }
}


/* section love stories */

.stories{
    background-image: url(./assets/images/champagne.webp);
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 1rem 0;
    text-align: center;
    margin: 1rem 0;
    width: 100%;
    height: 60vh;
}



.stories__cover{
    background-color: rgba(0, 0, 0, 0.5);
    
    padding: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    text-align: center;
}

.stories__content{
    padding: 1rem;
    display: grid;
    place-items: center;
}

.stories__title{
    font-size: 1.5rem;
    font-family: var(--font-titles);
    color: var(--font-white);
    margin: 1rem 0;
    font-weight: bolder;
}

.stories__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1rem 0;
    text-align: justify;   
}

/* carousel de imagenes */
.carousel{
    margin-top: -20rem;
    position: relative;
}

.carousel__container{
    position: relative;
    overflow: scroll;
    overflow-y: hidden;
    display: flex;
}
.carousel__container li{
    flex: 0 0 100%; 
    width: 80%;
    list-style: none;
    margin: 0 1rem;
    height: 75%;
    
}

.carousel__container img{
    width: 100%;
    height: 30rem;
    object-fit: cover;

    border-radius: 5px;
    margin: 1rem;
    padding: 0;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



@media screen and (min-width: 768px) {
    .carousel__container{
        position: relative;
        overflow: scroll;
        overflow-y: hidden;
        display: flex;
    }
    .carousel__container{
    position: relative;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.carousel__container::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

.carousel__container::-webkit-scrollbar-track {
    background-color: transparent;
}

.carousel__container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.carousel__container li{
    flex: 0 0 25%; 
    width: 25%;
    list-style: none;
    margin: 0 1rem;
    height: 75%;
    
}

.carousel__container img{
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    transition: all 0.3s ease;
    }

    .carousel__container img:hover{
        transform: scale(1.1);
    }
    
}


/* carousel services */
.services{
    background-color: var(--background-color);
    text-align: center;
    margin: 1rem 0;
    margin-top: 6rem;
}

.services__icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.services__icon{
    display: grid;
    place-items: center;
    padding: 1rem;
    margin: 0;
    border-radius: 1px;
    border: solid .01rem var(--secondary-color-text);    
    transition: all 0.3s ease;
}


.services__icon-title{
    font-size: .8rem;
  
}
/* services desktop */
@media (min-width: 768px){
    .services{
     
        padding: 1rem;
        margin-top: 1rem;
    }
    .services__icons{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
    .services__icon{
        display: grid;
        place-items: center;
        padding: 1rem;
        margin: 0;
        border-radius: 1px;
        border: solid .01rem var(--secondary-color-text);    
        transition: all 0.3s ease;
    }
    .services__icon:hover{
        transform: scale(1.1);
    }
}

/* section contact phone */

.phone {
    display: grid;
    background-image: url(./assets/images/pedida_mano.jpeg);
    background-size: cover;
    padding: 0;
    max-width: 100%;

}

.phone__cover{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: 94%;
    text-align: center;
}

.phone__title{
    font-size: 1.8rem;
    font-family: var(--font-titles);
    color: var(--font-white);
    text-align: center;
    margin: 1rem 0;
    font-weight: bolder;
}

.phone__location{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.phone__location hr{
    border: 1px solid var(--font-white);
    width: 80%;
    margin: 1rem auto;
}
.phone__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1rem 0;
    text-align: justify;
}


.phone__country p, .phone__number p{
    font-size: 1.1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1.2rem 0;
    text-align: center;

}
/* phone responsive desktop */
@media (min-width: 768px){
   
    .phone__cover{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem ;
        padding:5rem;
        margin-bottom: 5rem;
    }

    .phone__location{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        height: 13rem;
        border-radius: 5px;
    }
}

/* footer section */

footer {
    display: grid;
    place-items: center;
    background-color: var(--font-dark);
    padding: 1rem;
    text-align: center;
    margin:-1rem  0;
}

.footer__img{
    width: 10rem;
    height: 100px;
    color: var(--font-white);
    filter: invert(1);
}

.footer hr{
    border: 1px solid var(--font-white);
    width: 80%;
    margin: 1rem auto;
}

.fa-brands{
    font-size: 2rem;
    color: var(--font-white);
    margin: 0 1rem;
}

.footer__text{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--font-white);
    margin: 1rem 0;
    text-align: center;
}
.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer__social-link{
    font-size: 1.5rem;
    color: var(--font-white);
    margin: 0 1rem;
    transition: all 0.3s ease;
}

.footer__social-icon{
    filter: invert(1);
    width: 1.5rem;
}

@media (min-width: 768px){
   nav{
    display: flex;
   }
}